@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Transient</h2>
    <p>@ViewBag.message1</p>
    <p>@ViewBag.message2</p>

    <h2>Scoped</h2>
    <p>@ViewBag.message3</p>
    <p>@ViewBag.message4</p>

    <h2>Singleton</h2>
    <p>@ViewBag.message5</p>
    <p>@ViewBag.message6</p>
</body>
</html>